.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: antiquewhite;
    font-size: large;
    height: 100px;
}

.logo-home {
    height: 300px;
}

.Home-title{
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-item {
    text-decoration: none;
    color: black;
    font-size: large;
    transition: color 0.3s;
    padding: 20px 30px;
}

.nav-item:hover {
    color: gray;
    background-color: lightgray;
    padding: 20px 30px;
    
}

.auth-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
}

.btnSignIn, .btnCreate, .btnSignOut {
    font-size: large;
    padding: 5px 15px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btnSignIn:hover, .btnCreate:hover, .btnSignOut:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

.email-in-use {
    margin-left: 10px;
    font-size: medium;
    color: #333;
}

.buttons-home {
    display: flex;
    align-items: center;
    gap: 10px; /* Adds space between buttons */
}

.btnsignIn {
    height: 3ch;
    font-size: large;
}

.btnCreate {
    height: 30px;
    font-size: large;
}

.header-title {
    margin-top: 20px;
}


.descrip-home{
    margin-left: 300px;
    margin-right: 200px;
    font-size: x-large;
    
}
.logo-cleaning{
    margin-left: 400px;
    margin-top: 50px;
}
.logo-gardening{ 
    margin-left: 200px;

}
.logo-painting {
    margin-left: 200px;    
}
.Privacy{
    
    margin-left: 30%;
}
.PrivacyPage {

    margin-left: 30%;
    font-size: x-large;
}


.logo-cleaning2 , 
.logo-painting2,
.logo-gardening2

 {
    margin-left: 200px; 
    padding: 30px;
    
}

.Description{
   
    padding-left: 20px;
  
}
.btnBook{
   
    background-color: greenyellow;
    margin: 20px;
    font-size: large;  
}
.About{
    margin-top: 8%;
    margin-left: 15%;
  
}
.form{
    margin-left: 20%;
    margin-right: 20%;
    border-style:double;
    padding: 20px;


}
