body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(253, 249, 244);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: antiquewhite;
    font-size: large;
    height: 100px;
}

.home-presentation {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px; 
}

.home-table{
    margin: 30px;
}

.logo-home {
    width: 300px; 
    height: auto;
}

.des-home {


    padding: 10px 100px;
    text-align: justify;
    font-size: x-large;
}
.Our-Services{
    text-align: center;

}


.Home-title{
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-item {
    text-decoration: none;
    color: black;
    font-size: large;
    transition: color 0.3s;
    padding: 30px 40px;
}

.nav-item:hover {
    background-color: rgb(247, 222, 189);
    padding: 30px 40px;
    color: black;
}

.auth-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 250px;
}


button{
    font-size: large;
    padding: 15px 20px;
    cursor: pointer;
    border: none;
    background-color: rgb(187, 142, 84);
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(157, 106, 40);
}

.email-in-use {
    margin-left: 10px;
    font-size: medium;
    color: #333;
}


.home-presentation{
    display: inline;
    grid-template-rows: repeat(2, 1fr);
}

.btnsignIn {
    height: 3ch;
    font-size: large;
}

.btnCreate {
    height: 30px;
    font-size: large;
}

.header-title {
    margin-top: 20px;
}


.descrip-home{

    font-size: x-large;
    text-align: center;
    
}

.home-logos{
    display: flex;
    gap: 200px;
    justify-content: center;
    margin-top: 100px;
}

.logo-home-title{
    text-align: center;
}


.logo-cleaning2 , 
.logo-painting2,
.logo-gardening2

 {
    margin-left: 200px; 
    padding: 30px;
    
}

.services-Description{
   
    padding-left: 20px;
    padding-right: 80px;
  
}

.About,
.Privacy,
.Term{

    text-align: center;
    
  
}
.form{
width: 400px;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    background-color: #ccc;
} 
 label{
    width: 150px;
    display: inline-block;
 }   
.Welcome{
    text-align: center;
}

.SignUpOpt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    
}


/* .form-container {
          
            padding: 20px;
            text-align: center;
            margin-top: 20px;
          
        }
.error {
    color: red;
    margin-top: 10px;
    margin-left: 45%;
    display: flex;
    align-items: center;
} */



.footer{
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: blue;
}

.client-form{
    display: grid;
    grid-template-columns: 1fr;
    width: 400px;
    justify-content: center;
    align-items: center;
}

.sign-up-pages{
    display: flex;
    flex-direction: column;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.client-title{
    text-align: center;
    margin-top: 100px;
}

.input-client-form{
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid gray;
    height: 30px;
    margin-bottom: 15px;
}

.address-style{
    margin-top: 20px;
}

.form-signin{
    display: grid;
    justify-content: center;
    margin-top: 50px;
}

.services-signup-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 50px;
    margin-top: 20px;
}

.services-signup-items{
    display: flex;
    gap: 10px;
}
.Sign-up-here{
    text-align: center;
}

.user-management-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    margin-top: 20px;
}

.user-management-container{
    display: grid;
    align-items: center;
    justify-content: center;
}

.um-list{
    display: grid;
    align-items: center;
    justify-content: center;
}

.sign-in-page{
    display: grid;
    align-items: center;
    justify-content: center;
}

.signin-title{
    text-align: center;
    font-weight: 400;
}

.signup-buttons{
    display: flex;
    justify-content: center;
}

.home-user-page {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.client-info {
    text-align: right;
    margin-bottom: 20px;
}

.home-user-content {
    display: flex;
}

.calendar-container {
    width: 30%;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.services-table-container {
    width: 70%;
    padding: 20px;
}

.services-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.services-table th, .services-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.services-table th {
    background-color: #f2f2f2;
}
.footer{
    font-size: large;
    padding: 15px 20px;
    cursor: pointer;
    border: none;
    color:green;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(157, 106, 40);
}
